<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evaluator - Death Rate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/Chart.bundle.js}"></script>
</head>
<body>

    <h1>Titanic Evaluation</h1>

    <h3 th:text="'Evaluation of: ' + ${evaluator.path} + ' - Bar chart for the death rate'"></h3>

    <a href="age">Previous Chart (Age)</a><a href="passengers" style="float:right;">Next Chart (Passengers)</a>

    <hr />

    <div style="width:100%;">
    <canvas id="myChart"></canvas>
    <script th:inline="javascript">
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Everyone", "Women", "Men", "First Class", "Second Class", "Third Class", "Crew", "Ages 0 to 19", "Ages 20 to 39", "Ages 40 to 59", "Ages 60 to 79"],
        datasets: [{
            label: 'Death Rate',

            /*<![CDATA[*/

            data: [ [[${evaluator.getValue(0, 6)}]], [[${evaluator.getValue(9, 6)}]], [[${evaluator.getValue(10, 6)}]], [[${evaluator.getValue(1, 6)}]], [[${evaluator.getValue(2, 6)}]], [[${evaluator.getValue(3, 6)}]], [[${evaluator.getValue(8, 6)}]], [[${evaluator.getValue(4, 6)}]], [[${evaluator.getValue(5, 6)}]], [[${evaluator.getValue(6, 6)}]], [[${evaluator.getValue(7, 6)}]],],

            /*]]>*/

            backgroundColor: 'rgba(0, 0, 0, 0.2)',

            borderColor: 'rgba(0,0,0,1)',

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 100,
                    callback: function(value){return value+ "%"}
                },
                scaleLabel: {
                    display: true,
                    labelString: "Percentage"
                }
            }]
        }
    }
});
    </script>
    </div>

    <hr />

    <a style="float:right;" href="/">Upload and File List</a>
    <br /><br />
    <a style="float:right;" href="eval">Evaluation Table</a>

</body>
</html>
