<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evaluator - Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Titanic Evaluation</h1>
<h3 th:text="'Result from evaluation of: ' + ${evaluator.path}"></h3>
<h5>All Passengers + Crew</h5>
<p th:text="${evaluator.report(0)}" />
<h5>First Class</h5>
<p th:text="${evaluator.report(1)}" />
<h5>Second Class</h5>
<p th:text="${evaluator.report(2)}" />
<h5>Third Class</h5>
<p th:text="${evaluator.report(3)}" />
<h5>Crew</h5>
<p th:text="${evaluator.report(8)}" />
<h5>Ages 0 to 19</h5>
<p th:text="${evaluator.report(4)}" />
<h5>Ages 20 to 39</h5>
<p th:text="${evaluator.report(5)}" />
<h5>Ages 40 to 59</h5>
<p th:text="${evaluator.report(6)}" />
<h5>Ages 60 to 79</h5>
<p th:text="${evaluator.report(7)}" />
</body>
</html>