<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Evaluator - Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>CSV-Upload</h1>
	<h3>CSV files with the following format can be evaluated by this app:</h3>
	<p class="code">Last Name (String), First Name (String), Age (Integer), Class (Digit), Died (empty = false/any data = true)</p>

	<hr />

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<p>File to upload: <input type="file" name="file" accept=".csv" /> <input type="submit" value="Upload" /></p>
		</form>
	</div>

	<div th:if="${message}">
		<p th:text="${message}"/>
	</div>

	<hr />

	<div>
		<h3>File List</h3>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
				<a style="float:right;" th:href="${file} + '/eval'" th:text="Evaluation" />
				<hr/>
			</li>
		</ul>
	</div>


</body>
</html>
