<!-- File originally part of "Getting Started - Uploading Files"-Tutorial (https://spring.io/guides/gs/uploading-files/) -->
<!-- changed by "MLcase" (github) to include evaluation of CSV files -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Evaluator - Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Titanic Evaluation</h1>

	<h3>Upload (.csv)</h3>
	<p>Files with one of the following formats can be evaluated by this app:</p>
	<p>Format One: </p><p class="code">Surname, Forename, Age, Class (first character must be class number, otherwise part of crew), Died (true if this cell has any content)</p>
	<p>Format Two: </p><p class="code">Class (single digit), Survived ("1"=true; "0"=false), Name, Sex ("male" or "female"), Age</p>
	<p>Any other lines or cells beyond this format will be ignored. One file should only contain one kind of format.</p>
	<hr />

	<center>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<input class="file" type="file" id="file" name="file" accept=".csv" />
			<label for="file">Choose a file</label> <input  class="button" style="width:100px;" type="submit" value="Upload" />
		</form>
	</div>

	<div th:if="${message}">
		<p th:text="${message}"/>
	</div>
	</center>

	<hr />

	<div>
		<h3>File List</h3>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
				<a style="float:right;" th:href="${file} + '/eval'" th:text="Evaluate" />
				<hr/>
			</li>
		</ul>
	</div>

</body>
</html>
