<html xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>CSV-Upload</h1>
	<h3>CSV files with the following format can be evaluated by this app:</h3>
	<p>Last Name (String), First Name (String), Age (Integer), Class (Digit), Died (empty = false/any data = true)</p>

	<hr />

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<p>File to upload: <input type="file" name="file" accept=".csv" /> <input type="submit" value="Upload" /></p>
		</form>
	</div>

	<div th:if="${message}">
		<p th:text="${message}"/>
	</div>

	<hr />

	<div>
		<h3>File List</h3>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
				<a th:href="${file} + '/eval'" th:text="Evaluation" />
			</li>
		</ul>
	</div>


</body>
</html>
