body {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 300px;
    max-width: 1000px;
}

p.code {
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
}

p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana;
}

h1 {
    color: #1D7EED;
    font-size: 3em; padding: 5px 12px;
    background-color: #CCD3E7;
}

h3 {
    font-size: 1em;
}

h5 {
    margin: 0;
}

table, tr {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

td {
    padding: 5px 15px;
}

td.value {
    text-align: right;
}

.file + label {
    font-size: 1em; padding: 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    display: inline-block;
    width: 200px;
}

.file + label:hover {
    background-color: #CCD3E7;
    cursor: pointer;
}

input.button {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
}

input.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input:hover {
    background-color: #CCD3E7;
    cursor: pointer;
}

a {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1D7EED;
}

a:visited {
    color: #1D7EED;
}

a:hover {
    color: mediumblue;
}